<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js" integrity="sha512-zVjBbEjCeSbeIW2napMaT8VYXI/akKe9Yq2x2sRFiIX+onOjlFkqHVks/7IPSPLnmlHyoH8tFcL3PHdPCXC9ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>MVC and events</title>
</head>
<body>
    <!-- M: Model ; C:Controller ; V: View -->
    <!-- Model: XỬ lý các nghiệp vụ(functions),
        Controller: Nhận và điều hướng các request tới:
        Model và View.
        View: Load(binding) dữ liệu từ Model.
        (giao tiếp giữa Controller và View sử dụng $scope) 

     -->
     <script src="ag2-model.js"></script>
     <script src="ag2-controller.js"></script>
     <h2>MVC design patter demo</h2>
     <!-- Khai báo Angularjs và Controller -->
     <div ng-app="myApp" ng-controller="myController">
         Vowerls:
         <button ng-click="ch('A')">A</button>
         <button ng-click="ch('E')">E</button>
         <button ng-click="ch('I')">I</button>
         <button ng-click="ch('O')">O</button>
         <button ng-click="ch('U')">U</button>
     
     <!-- binding data(step4) -->
     <p>{{choice}}</p>
     List:
     <select ng-options="option for option in list" 
             ng-model="mychoice"
             ng-change="c()">
    </select>
    <p>{{choice}}</p>
</div>
</body>
</html>